<tr>
  <td><%= post.title %></td>
  <td><%= link_to 'Ver', post %></td>
  <td><%= link_to 'Editar', edit_post_path(post) %></td>
  <td><%= link_to 'borrar', post, method: :delete, data: { confirm: 'Borrar comentario?', remote: true }, class:'delete' %></td>
</tr>